* {
    color: #232323;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(235, 246, 244);
}

.title {
    font-size: 3.5rem;
    font-weight: 800;
    margin-top: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bezel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 99, 129);
    height: 740px;
    width: 740px;
    border-radius: 24px;
    margin: 40px 0;
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    background-color: white;
}

.box {
    border: 1px solid rgb(168, 168, 168);
}

button {
    background-color: rgb(26, 99, 129);
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 8px 12px;
}

button:hover {
    background-color: rgb(26, 91, 117);
}

button:active {
    background-color: rgb(22, 77, 99);
}

input {
    background-color: white;
    border: 2px solid rgb(26, 99, 129);
    border-radius: 8px;
}

#grid-size {
    height: 30px;
    width: 40px;
    padding: 10px;
}

#color-picker {
    height: 40px;
    width: 40px;
    border: 0;
}