* {
    color: #232323;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bezel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 99, 129);
    height: 740px;
    width: 740px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    background-color: white;
}